.top_menu{
    position: fixed;
    background-color:  #eee;
    width: 100%;
    margin:auto;
    display: block;
    top: 5px;
    overflow: auto;
    z-index: 1000;
}
.menu_icon{
    margin:auto;
    padding: -20px;
}

.top_menu .btn{
    padding: 3px;
}

.bot_menu{
    position: fixed;
    background-color:  #eee;
    width: 100%;
    margin:auto;
    display: block;
    overflow: auto;
    z-index: 1000;
}

.bot_menu .btn{
    padding: 3px;
}

a{
    color: grey;
}

a:hover{
    color: black;
}