<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="uAvailablePU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <non-jta-data-source>uavailable</non-jta-data-source>
    <class>com.uavailable.entites1.Calendrier</class>
    <class>com.uavailable.entites1.Horaire</class>
    <class>com.uavailable.entites1.Membre</class>
    <class>com.uavailable.entites1.Tache</class>
    <class>com.uavailable.entites1.BlocDisponilites</class>
    <class>com.uavailable.entites1.GroupeDeContact</class>
    <class>com.uavailable.entites1.ToDoList</class>
    <class>com.uavailable.entites.Liste</class>
    <class>com.uavailable.entites.Calendrier</class>
    <class>com.uavailable.entites.Membre</class>
    <class>com.uavailable.entites.Tache</class>
    <class>com.uavailable.entites.BlocDisponibilite</class>
    <class>com.uavailable.entites.GroupeDeContacts</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/uavailable?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.password" value=""/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.schema-generation.database.action" value="drop-and-create"/>
    </properties>
  </persistence-unit>
</persistence>
